<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue - Hello Vue!</title>
    <script src="https://unpkg.com/vue"></script>
</head>

<body>
    <div id="app">
        {{ message }}
    </div>

    <div id="app2"> <!-- v-bind -->
        <span v-bind:title="message"> <!-- v-bind to put variable in html atrribute --> 
            Hover your mouse over me for a few seconds to see the title!
        </span><br>

        <a v-bind:href="linkURL" target="_blank">{{ linkText }}</a> <!-- double curly bracket to put variable for content (not attribute) -->
    </div>

    <div id="app3"> <!-- v-if -->
        <span v-if="seen">Now you see me</span>
    </div>

    <div id="app4"> <!-- v-for -->
        <ol>
            <li v-for="todo in todos"> <!-- todo folo todo, todos folo todos -->
                {{todo.text}}
            </li>
        </ol>
    </div>

    <div id="app5"> <!-- event -->
        <p>{{message}}</p>
        <button v-on:click="reverseMessage">
            Reverse the message!
        </button>
    </div> 

    <div id="app6"> <!-- 2 way binding -->
        <p>{{message}}</p>
        <input v-model="message">
    </div> 
    


    

    <script src="scripts/index.js"></script>
</body>
</html>